# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

# Environments
.venv/
.env

# Logs and artifacts
logs/
coverage.xml
htmlcov/

# OS files
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg

# IDE
.vscode/
.idea/
